# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import warnings
warnings.filterwarnings('ignore')

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))

# Review the DataFrame
display(applicant_data_df.head())
display(applicant_data_df.tail())

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [45]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)
# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [46]:
#Create a list of numerical variables
numerical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'int64'].index)
#Display the numerical variables list
display(numerical_variables)

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [47]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

In [48]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [49]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
                          columns=enc.get_feature_names_out(categorical_variables)
                         )
# Review the DataFrame
display(encoded_df.head())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [50]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df[numerical_variables]], axis =1)

# Review the Dataframe
encoded_df.head()

#applicant_data_df[numerical_variables]

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [51]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
display(y)

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [52]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns =['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [53]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [54]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [55]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [56]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [57]:
# Define the number of hidden nodes for the first hidden layer
# Using the mean of the number of inputer features plus the number of output neurons
# Using Python floor divsion to divide by 2 to return the quotent to ensure no remainder
hidden_nodes_layer1 =  (number_input_features + number_output_neurons)//2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [58]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons)//2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [59]:
# Create the Sequential model instance
nn = Sequential()

In [60]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [34]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [62]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [66]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 58)                6786

 dense_5 (Dense)             (None, 1)                 59

 dense_6 (Dense)             (None, 1)                 2

=================================================================
Total params: 6,847
Trainable params: 6,847
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [68]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [69]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6246 - accuracy: 0.6859
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5845 - accuracy: 0.7278
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5729 - accuracy: 0.7297
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5670 - accuracy: 0.7316
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5628 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5604 - accuracy: 0.7326
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5581 - accuracy: 0.7324
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5569 - accuracy: 0.7336
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5558 - accuracy: 0.7334
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5554 - accuracy: 0.7336
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5546 - accuracy: 0.7332
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5532 - accuracy: 0.7348
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5532 - accuracy: 0.7350
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5524 - accuracy: 0.7339
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7362
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7360
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7357
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7376
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7368
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7360
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7372
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7356
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7368
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7357
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7365
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7370
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7372
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7372
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7372
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7376
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7378
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7370
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7381
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7381
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5446 - accuracy: 0.7373
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7378
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7380
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7371
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7376
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7377
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7378
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7378
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7385
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7382
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7364
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7383
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7388
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5427 - accuracy: 0.7377
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7384
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7376
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7381
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7379
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5419 - accuracy: 0.7382
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7375
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7385
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7376
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7392
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7383
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7384
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7388
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5415 - accuracy: 0.7393
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7385
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5411 - accuracy: 0.7372
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7390
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5407 - accuracy: 0.7387
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5409 - accuracy: 0.7392
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5403 - accuracy: 0.7392
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7395
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7396
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7400
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7375
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7376
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7376
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7379
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5408 - accuracy: 0.7386
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7400
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7390
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7398
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5398 - accuracy: 0.7385
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7392
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5394 - accuracy: 0.7388
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5392 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7401
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7389
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7394
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7390
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7392
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7394
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7387
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7388
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7390
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7390
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7394
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7392
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7386
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5384 - accuracy: 0.7396
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5384 - accuracy: 0.7406

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [70]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose =2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5541 - accuracy: 0.7292 - 602ms/epoch - 2ms/step
Loss: 0.5541011691093445, Accuracy: 0.7292128205299377

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [71]:
# Set the model's file path
file_path = Path('/Resources/AlphabetSoup.h5')
# Export your model to a HDF5 file
nn.save(file_path)

NotFoundError: Failed to create a directory: \/Resources; No such file or directory

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

In [ ]:
# Create the Sequential model instance
nn_A1 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE


# Output layer
# YOUR CODE HERE


# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the Sequential model
nn_A1.# YOUR CODE HERE

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = # YOUR CODE HERE

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE